// tabs统一的滚动区域样式
.scrollTabsContent {
  height: calc(100vh - 195px);
  overflow: hidden auto;
  padding: 16px;
}

// 自定义模态框头部样式
.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .modal-title {
    font-size: 16px;
    font-weight: bold;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
  }
}
