.table-color-monitor-red {
  background-color: #ff4e4e;
}
.table-color-monitor-green {
  background-color: green;
}
.table-color-monitor-blue {
  background-color: #5050d3bf;
}
.table-color-monitor-yellow {
  background-color: yellow;
}