@import '~antd/es/style/themes/default.less';

@import './styles/tailwind.css';

@dev: 0;
@company: -90px 0 0 -80px;
html,
body,
#root {
  height: 100%;
}
// company-boox
#root.company .company-box{
  // transform: translate(-75px, -61px) !important;
  transform: translate(0, 30px) !important;
}
#root.company {
  margin: @company;
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
}


.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
.ant-pro-sider-logo h1 {
  font-size: 16px;
}
